# Dependencies
node_modules/

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local

# Logs
logs/
.logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Process IDs
.pids/

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# Test
.jest/

# Temporary files
*.tmp
*.temp
